<div class="container">
  <div class="col seat">
    <div class="driver">
      Tài xế
    </div>
    <div class="SeatContainer">
      <button class="grid-seat" 
      *ngFor="let ticket of tickets" 
      (click)="onChangeStatus(ticket,1)" 
      [class.selected]="checkChangeStatus(ticket, 1)" 
      [class.green]="checkChangeStatus(ticket, 2)">
        {{ticket.soghe}}
      </button>
    </div>
  </div>
  <div class="col seatBooked">
    <h1> Danh sách ghế đã đặt <span *ngIf="listTicketBooked().length > 0"> {{listTicketBooked().length}}</span></h1>
    <ul >
      <li *ngFor=" let item of listTicketBooked()">ghế số 
        <span>{{item.soghe}} </span> 
        <span>{{item.gia}}$ </span> 
        <span class="link"
          (click)="onChangeStatus(item, 2)">[Hủy]</span>
        </li>
    </ul>
  </div>
</div>